.col-sm-4.col-sm-offset-4
  = simple_form_for @missed_connection,  :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f|
    = f.input :location, required: true
    %br
    = f.input :title
    %br
    = f.input :body
    %br
    = f.input :question
    %br
    = f.input :answer
    %br
    = f.button :submit, :class => "btn primary"

