<%= render 'shared/google_map', missed_connections: @missed_connections %>

<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-sm-6 sidebar">
      <%= image_tag 'OHHEYLOGO.svg' %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <% @missed_connections.each do |missed_connection| %>
        <p> <%= missed_connection.title %></p>
      <% end %>

      <%= link_to 'Sign up', new_user_registration_path %> |
      <%= link_to 'Login', new_user_session_path %>
    </div>

    <div id="map-canvas" class="col-sm-6"></div>
  </div>
</div>
