<!DOCTYPE html>
<html>
<head>
<title>Oh hey</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', 'data-turbolinks-track' => true %>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %> 
    <p class="notice"><%= notice %></p> 
  <%end%> 
  <% if alert %> 
    <p class="alert"><%= alert %></p> 
  <%end%>
    <%= yield %>

</body>
</html>
